.dplayer {
    position: relative;
    overflow: hidden;
    user-select: none;
    line-height: 1;

    * {
        box-sizing: content-box;
    }

    &:-webkit-full-screen {
        width: 100%;
        height: 100%;
        background: #000;
        position: fixed;
        z-index: 100000;
        left: 0;
        top: 0;
    }

    &.dplayer-playing {
        @media (min-width: 900px) {
            .dplayer-controller-mask {
                opacity: 0;
            }
            .dplayer-controller {
                opacity: 0;
            }

            &:hover {
                .dplayer-controller-mask {
                    opacity: 1;
                }
                .dplayer-controller {
                    opacity: 1;
                }
            }
        }
    }

    &.dplayer-loading {
        .dplayer-bezel .diplayer-loading-icon {
            display: block;
        }
    }

    &.dplayer-hide-controller {
        cursor: none;

        .dplayer-controller-mask {
            opacity: 0;
            transform: translateY(100%);
        }
        .dplayer-controller {
            opacity: 0;
            transform: translateY(100%);
        }
    }
    &.dplayer-fulled {
        position: fixed;
        z-index: 100000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    &.dplayer-mobile {
        .dplayer-full-in, .dplayer-volume {
            display: none !important;
        }

        .dplayer-controller .dplayer-icons .dplayer-icon {
            width: 40px;
        }
    }

    .dplayer-mask {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        display: none;

        &.dplayer-mask-show {
            display: block;
        }
    }

    .dplayer-video-wrap {
        position: relative;
        background: #000;
        font-size: 0;
        width: 100%;
        height: 100%;

        .dplayer-video {
            width: 100%;
            height: 100%;
            display: none;
        }

        .dplayer-video-current {
            display: block;
        }
    }

    .dplayer-bezel {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        font-size: 22px;
        color: #fff;
        pointer-events: none;

        .dplayer-bezel-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -26px 0 0 -26px;
            height: 52px;
            width: 52px;
            padding: 12px;
            box-sizing: border-box;
            background: rgba(0, 0, 0, .5);
            border-radius: 50%;
            opacity: 0;
            pointer-events: none;

            &.dplayer-bezel-transition {
                animation: bezel-hide .5s linear;
            }

            @keyframes bezel-hide {
                from {
                    opacity: 1;
                    transform: scale(1);
                }
                to {
                    opacity: 0;
                    transform: scale(2);
                }
            }
        }

        .diplayer-loading-icon {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -18px 0 0 -18px;
            height: 36px;
            width: 36px;
            pointer-events: none;

            .diplayer-loading-hide {
                display: none;
            }

            .diplayer-loading-dot {
                animation: diplayer-loading-dot-fade .8s ease infinite;
                opacity: 0;
                fill: #fff;
                transform-origin: 4px 4px;

                @for $i from 7 through 1 {
                    &.diplayer-loading-dot-#{$i} {
                        animation-delay: .1s * $i;
                    }
                }
            }

            @keyframes diplayer-loading-dot-fade {
                0% {
                    opacity:.7;
                    transform:scale(1.2,1.2)
                }
                50% {
                    opacity:.25;
                    transform:scale(.9,.9)
                }
                to {
                    opacity:.25;
                    transform:scale(.85,.85)
                }
            }
        }
    }

    .dplayer-controller-mask {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==) repeat-x bottom;
        height: 98px;
        width: 100%;
        position: absolute;
        bottom: 0;
        transition: all 0.3s ease;
    }

    .dplayer-controller {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 41px;
        padding: 0 20px;
        user-select: none;
        transition: all 0.3s ease;

        .dplayer-bar-wrap {
            padding: 5px 0;
            cursor: pointer;
            position: absolute;
            bottom: 33px;
            width: calc(100% - 40px);
            height: 3px;

            &:hover {
                .dplayer-thumb {
                    transform: scale(1) !important;
                }
            }

            .dplayer-bar-preview {
                position: absolute;
                background: #fff;
                pointer-events: none;
                display: none;
                background-size: auto 100%;
            }

            .dplayer-bar-time {
                &.hidden {
                    opacity: 0;
                }
                position: absolute;
                left: 0px;
                top: -20px;
                width: 30px;
                border-radius: 4px;
                padding: 5px 7px;
                background-color: rgba(0, 0, 0, 0.62);
                color: #fff;
                font-size: 12px;
                text-align: center;
                opacity: 1;
                transition: opacity .1s ease-in-out;
                word-wrap: normal;
                word-break: normal;
                z-index: 2;
                pointer-events: none;
            }

            .dplayer-bar {
                position: relative;
                height: 3px;
                width: 100%;
                background: rgba(255, 255, 255, .2);
                cursor: pointer !important;

                .dplayer-loaded {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    background: rgba(255, 255, 255, .4);
                    height: 3px;
                    transition: all 0.5s ease;
                    will-change: width;
                }

                .dplayer-played {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    height: 3px;
                    will-change: width;

                    .dplayer-thumb {
                        position: absolute;
                        top: 0;
                        right: 5px;
                        margin-top: -4px;
                        margin-right: -10px;
                        height: 11px;
                        width: 11px;
                        border-radius: 50%;
                        cursor: pointer !important;
                        transition: all .3s ease-in-out;
                        transform: scale(0);
                    }
                }
            }
        }

        .dplayer-icons {
            height: 38px;
            position: absolute;
            bottom: 0;

            &.dplayer-icons-left {
                .dplayer-icon {
                    padding: 7px;
                }
            }
            &.dplayer-icons-right {
                right: 20px;

                .dplayer-icon {
                    padding: 8px;
                }
            }

            .dplayer-time {
                line-height: 38px;
                color: #eee;
                text-shadow: 0 0 2px rgba(0,0,0,.5);
                vertical-align: middle;
                font-size: 13px;
                cursor: default;
                margin-left: 10px;
            }

            .dplayer-icon {
                width: 40px;
                height: 100%;
                border: none;
                background-color: transparent;
                outline: none;
                position: relative;
                cursor: pointer;
                vertical-align: middle;
                box-sizing: border-box;
                display: inline-block;

                .dplayer-icon-content {
                    transition: all .2s ease-in-out;
                    opacity: .8;
                }

                &:hover {
                    .dplayer-icon-content {
                        opacity: 1;
                    }
                }

                &.dplayer-volume-icon {
                    width: 43px;
                }
            }

            .dplayer-volume {
                position: relative;
                display: inline-block;
                cursor: pointer !important;
                height: 100%;

                &:hover {
                    .dplayer-volume-bar {
                        width: 45px !important;
                    }

                    .dplayer-thumb {
                        transform: scale(1) !important;
                    }
                }

                &.dplayer-volume-active {
                    .dplayer-volume-bar {
                        width: 45px !important;
                    }

                    .dplayer-thumb {
                        transform: scale(1) !important;
                    }
                }

                .dplayer-volume-bar-wrap {
                    display: inline-block;
                    margin: 0 5px 0 -5px;
                    vertical-align: middle;
                    height: 100%;

                    .dplayer-volume-bar {
                        position: relative;
                        top: 17px;
                        width: 0;
                        height: 3px;
                        background: #aaa;
                        transition: all 0.3s ease-in-out;

                        .dplayer-volume-bar-inner {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            height: 100%;
                            transition: all 0.1s ease;
                            will-change: width;

                            .dplayer-thumb {
                                position: absolute;
                                top: 0;
                                right: 5px;
                                margin-top: -4px;
                                margin-right: -10px;
                                height: 11px;
                                width: 11px;
                                border-radius: 50%;
                                cursor: pointer !important;
                                transition: all .3s ease-in-out;
                                transform: scale(0);
                            }
                        }
                    }
                }
            }

            .dplayer-loop {
                display: inline-block;
                height: 100%;
            }

            .dplayer-full-in {
                display: inline-block;
                height: 100%;
            }

            .dplayer-full {
                display: inline-block;
                height: 100%;
            }
        }
    }

    .dplayer-notice {
        opacity: 0;
        position: absolute;
        bottom: 60px;
        left: 20px;
        font-size: 14px;
        border-radius: 2px;
        background: rgba(28, 28, 28, 0.9);
        padding: 7px 20px;
        transition: all .3s ease-in-out;
        overflow: hidden;
        color: #fff;
        pointer-events: none;
    }
}

// To hide scroll bar, apply this class to <body>
.dplayer-web-fullscreen-fix {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
